
</body>

<footer>
	<span class="footer-text">&copy; <%= new Date().getFullYear() %> <a href="https://github.com/shard520/is-it-raining-in-manchester">Simon Hardacre</a></span>
	<br>
	<span class="footer-text">Weather data from <a href="https://openweathermap.org/">https://openweathermap.org/</a></span>
</footer>  

</html>