
</body>

<footer>
	<span class="footer-text">&copy; <%= new Date().getFullYear() %> Simon Hardacre</span>
	<br>
	<span class="footer-text">Weather data from <a href="https://openweathermap.org/">https://openweathermap.org/</a></span>
</footer>  

</html>