<%- include ('partials/header'); -%> 

	<main class="main-page">
		<div class="container title">
			<h1 class="heading">Hmm... 
				<br>404 - Not Found</h1>
			<p class="lead">I still haven't found what you're looking for, maybe try Bono as I gather he's been looking for longer.</p>
		</div>
	</main>

<%- include ('partials/footer'); -%> 