<%- include ('partials/header'); -%> 

	<main class="main-page">
		<div class="container title">
			<h1 class="heading">Oh dear! 
				<br>429 - Too Many Requests</h1>
			<p class="lead">The site is more popular than expected and has reached the API request limit, please try again in a few minutes</p>
		</div>
	</main>

<%- include ('partials/footer'); -%> 